<script>
	var initData = {
		'taskgroups': <%= @taskgroups.to_json.html_safe %>
	}
</script>

<div v-for="tgroup in taskgroups">
	<h3>{{ tgroup.project.name }}</h3>
	<ul class="redmini-tasklist">
		<li v-for="task in tgroup.unclosed" class="{{ isOverdue(task) ? 'overdue' : '' }}">
			<div v-if="task.editMode" class="task-form">
				<a v-on:click="toggleEdit(task)"><strong>{{ task.subject }}</strong></a><br />
				
				<input v-model="task.status" />
				<input v-model="task.author" />
				<input v-model="task.subject" />
				<textarea v-model="task.description"></textarea>
			</div>
			<span v-if="!task.editMode">
				<input type="checkbox" v-model="task.closed_on" v-on:click="toggleClosed(task)" />
				<a href="javascript:" v-on:click="toggleEdit(task)" class="subject">{{ task.subject}}</a> <span class="dt">{{ task.due_date || '?'}}</span>
				
				<span class="description" style="display:none;"><br />{{ task.description }}</span>
				<div v-if="task.done_ratio" class="progressbar"><div v-bind:style="{width: task.done_ratio +'%'}" /></div>
			</span>
		</li>
	</ul>
	<hr />
	<ul class="redmini-tasklist-done">
		<li v-for="task in tgroup.closed.slice(0,5)">
			<input type="checkbox" v-model="task.closed_on">
			<span class="subject">{{ task.subject}}</span>
			
			<span class="description" style="display:none;"><br />{{ task.description }}</span>
		</li>
		<p v-if="tgroup.closed.length > 5">+ {{ tgroup.closed.length - 5 }} завершенных задач</p>
	</ul>
</div>