<script>
	var initData = {
		'taskgroups': <%= @taskgroups.to_json.html_safe %>
	}
</script>

<div v-for="tgroup in taskgroups">
	<h3>{{ tgroup.project.name }}</h3>
	<ul class="redmini-tasklist">
		<li v-for="task in tgroup.unclosed">
			<input type="checkbox" v-model="task.closed_on">
			<span class="subject">{{ task.subject}}</span>
			
			<span class="description" style="display:none;"><br />{{ task.description }}</span>
		</li>
	</ul>
	<hr />
	<ul class="redmini-tasklist-done">
		<li v-for="task in tgroup.closed.slice(0,5)">
			<input type="checkbox" v-model="task.closed_on">
			<span class="subject">{{ task.subject}}</span>
			
			<span class="description" style="display:none;"><br />{{ task.description }}</span>
		</li>
		<p v-if="tgroup.closed.length > 5">+ {{ tgroup.closed.length - 5 }} завершенных задач</p>
	</ul>
</div>